/* line 5, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../scss/style.scss */
html {
  background-color: #9ac40a;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

/* line 11, ../scss/style.scss */
body {
  height: 100vh;
  margin: 0 20px;
  max-width: 660px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* line 20, ../scss/style.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 27, ../scss/style.scss */
button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

/* line 34, ../scss/style.scss */
header {
  text-align: center;
  margin-bottom: 8vh;
}
/* line 38, ../scss/style.scss */
header h1 {
  font-size: 3rem;
}

/* line 43, ../scss/style.scss */
canvas {
  width: calc(100% - 6px);
  border: 3px solid black;
  margin-bottom: 10px;
}

/* line 50, ../scss/style.scss */
.game .score {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
/* line 56, ../scss/style.scss */
.game .score::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  width: 100%;
  height: 3px;
  transform: translateY(2px);
  background-color: black;
}

/* line 69, ../scss/style.scss */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000;
  margin-top: 10px;
}
/* line 78, ../scss/style.scss */
nav button:first-of-type {
  transform: translateX(-6px);
}
/* line 82, ../scss/style.scss */
nav button:last-of-type {
  transform: translateX(6px);
}
/* line 87, ../scss/style.scss */
nav::before {
  position: absolute;
  left: 0;
  top: -13px;
  content: "";
  width: 100%;
  height: 3px;
  transform: translateY(2px);
  background-color: black;
}

/* line 99, ../scss/style.scss */
.ol {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}
/* line 107, ../scss/style.scss */
.ol.score {
  left: 0;
  transform: translateX(-100%);
}
/* line 112, ../scss/style.scss */
.ol.user {
  left: 0;
  transform: translateX(100%);
}

/* line 118, ../scss/style.scss */
.question {
  margin-top: 8vh;
}

/* Media Queries */
@media (min-width: 660px) {
  /* line 125, ../scss/style.scss */
  html {
    font-size: 16px;
  }

  /* line 129, ../scss/style.scss */
  body {
    margin: 0 auto;
  }
}
