canvas {
  width: calc(100% - 6px);
  border: 3px solid $darkgreen;
  margin-bottom: 10px;
}

.game {
  .score {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    .pause {
      color: $green;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: -8px;
      content: "";
      width: 100%;
      height: 3px;
      transform: translateY(2px);
      background-color: $darkgreen;
    }
  }
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000;

  &::before {
    position: absolute;
    left: 0;
    top: -13px;
    content: "";
    width: 100%;
    height: 3px;
    transform: translateY(2px);
    background-color: $darkgreen;
  }
}

.ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 50px);
  transform: translateX(-25px);
  height: calc(100% + 50px);
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  background-color: $green;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    text-align: center;
  }

  &.score {
    table {
      width: 100%;
      text-align: center;

      th, td {
        font-size: 1rem;
        text-align: center;
      }
    }

    button {
      margin-top: 3rem;
    }
  }

  &.finished {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    button {
      margin: 1rem 0;
    }

    a {
      display: block;
    }
  }

  &.manual {
    svg {
      border: 3px solid $darkgreen;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      justify-content: space-around;

      .up {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }

      path {
        stroke: $darkgreen;
        stroke-width: 3px;
      }
    }

    .pause {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 0;

      svg {
        margin-bottom: 1rem;

        path {
          fill: $darkgreen;
        }
      }
    }
  }

  &.closed {
    opacity: 0;
    pointer-events: none;
  }

  .begin {
    display: none;
  }

  &.init {
    .begin {
      display: block;
    }

    .continue {
      display: none;
    }
  }
}