@import "compass/reset";

@import "variables";

@import "index";
@import "login";
@import "logout";
@import "404";

html {
  background-color: $green;
  color: $darkgreen;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

body {
  height: 100vh;
  margin: 0 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2rem;
}

header.logo {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 3rem;
  }
}

a, button {
  color: $darkgreen;
}

.sizer {
  max-width: 500px;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  margin: 0 auto;
  padding: 4px;

  &:focus {
    outline: 2px solid $darkgreen;
  }
}


/* Media Queries */

@media (min-width: 660px) {
  html {
    font-size: 16px;
  }

  body {
    margin: 0 auto;
  }
}
