@import "compass/reset";

@import "variables";

@import "index";
@import "login";
@import "logout";

html {
  background-color: $green;
  color: $darkgreen;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

body {
  height: 100vh;
  margin: 0 20px;
  max-width: 660px;
  overflow: hidden;
  display: flex;
  align-items: center;
  line-height: 1.2rem;
}

a, button {
  color: $darkgreen;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

/* Media Queries */

@media (min-width: 660px) {
  html {
    font-size: 16px;
  }

  body {
    margin: 0 auto;
  }
}
